<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Radar_to_ASC.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
    <userSettings>
        <Radar_to_ASC.Properties.Settings>
            <setting name="lmt_radar_projcs" serializeAs="String">
                <value>PROJCS["Lambert_Conformal_Conic",GEOGCS["GCS_unnamed ellipse",
DATUM["D_unknown",SPHEROID["Unknown",6370195.84,0]],PRIMEM["Greenwich",0],
UNIT["Degree",0.017453292519943295]],
PROJECTION["Lambert_Conformal_Conic"],
PARAMETER["standard_parallel_1",35],PARAMETER["standard_parallel_2",37],
PARAMETER["latitude_of_origin",33.7],PARAMETER["central_meridian",124.45],
PARAMETER["false_easting",0],PARAMETER["false_northing",0],UNIT["Meter",1]]
</value>
            </setting>
            <setting name="epsg4326" serializeAs="String">
                <value>GEOGCS["GCS_WGS_1984",DATUM["D_WGS_1984",SPHEROID["WGS_1984",6378137,298.257223563]],PRIMEM["Greenwich",0],UNIT["Degree",0.017453292519943295]]</value>
            </setting>
            <setting name="AllowLimit_mm_per_10min" serializeAs="String">
                <value>50</value>
            </setting>
        </Radar_to_ASC.Properties.Settings>
    </userSettings>
</configuration>
